body {
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  text-align: justify;
  background-color: #303030;
  margin-bottom: 2.5em;
}

a {
  color: #999;
}

a.superscript {
  position: relative;
  top: -0.7em;
  font-size: 51%;
  text-decoration: none;
}

h1 {
  color: #e3e3e3;
  font-family: "Barlow", sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  line-height: 100%;
  letter-spacing: 1px;
}

h2 {
  color: #e3e3e3;
  font-family: "Barlow", sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 100%;
  letter-spacing: 1;
}

h3 {
  color: #e3e3e3;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 100%;
  letter-spacing: 1;
}

p {
  font-size: 0.5em;
  text-align: left;
}

p.caption {
  font-size: 1em;
  color: #e3e3e3;
  margin-left: auto;
  margin-right: auto;
  line-height: 1em;
  text-align: center;
}

.btn {
  padding: 1em;
  text-transform: uppercase;
  background: #fff;
  border: solid;
  font: .9em "Barlow"
}

.btn.primary {
  color: #fff;
  background: #619b8a;
  border: solid #619b8a;
  border-radius: 5px;
}

.btn:hover,
a:hover {
    opacity: .6
}

#content {
  color: #e3e3e3;
}

.center {
  font-size: 1em;
  padding: 1px;
  height: auto;
  text-align: center;
  padding: 0px;
  margin-bottom: 2em;
}

.footer {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 0.9em;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 1.5em;
  width: 100%;
  background: #3973ac;
}

/* https://www.imarketinx.de/artikel/responsive-image-gallery-with-css-grid.html */

/* The grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The image frame */
.gallery-frame {
  padding: 0.5em;
  font-size: 1rem;
  margin-top: 0.5em;
  text-align: center;
  color: #d9d9d9;
}

/* The images */
.gallery-img {
  top: 0;
  left: 0;
  width: 14em;
  height: 14em;
  border-radius: 5px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: 0.5;
}

@font-face {
  font-family: "Barlow";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Barlow-Regular.woff2") format("woff2");
}
