body {
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  text-align: justify;
  background-color: #303030;
  margin-bottom: 2.5em;
}

.c {
  max-width: 60em;
  padding: 1em;
  margin: auto;
  font: 1em/1.6;
}

.card,
pre {
  padding: 0.7em;
  border: 1px solid #cacaca;
}

a {
  color: #999;
}

a.superscript {
  position: relative;
  top: -0.7em;
  font-size: 51%;
  text-decoration: none;
}

h1 {
  color: #e3e3e3;
  font-family: "Barlow", sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  line-height: 100%;
  letter-spacing: 1px;
}

h2 {
  color: #e3e3e3;
  font-family: "Barlow", sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 100%;
  letter-spacing: 1;
}

h3 {
  color: #e3e3e3;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 100%;
  letter-spacing: 1;
}

td,
th {
  padding: 0.3em;
  text-align: left;
}

p {
  font-size: 0.5em;
  text-align: left;
}

.caption {
  font-size: 0.9em;
  color: #e3e3e3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  line-height: 1.5em;
  text-align: center;
}

select {
  padding: 0.3em;
  color: #fff;
  background: #59a2d8ff;
  border: solid #59a2d8ff;
  border-radius: 5px;
  font: "Barlow";
}

input[type="text"] {
  padding: 0.5em 0.5em;
  margin: 0.7em 0.3em;
  border: 0px;
  border-radius: 5px;
}

.select {
  padding: 0.5em 0.5em;
  margin: 0.7em 0.3em;
  min-width: 10em;
  vertical-align: middle;
  margin-right: 0.5em;
  border-radius: 5px;
}

.topcorner {
  position: absolute;
  top: 0;
  right: 0.5em;
}

.btn {
  padding: 0.5em;
  text-transform: uppercase;
  background: #fff;
  border: solid;
  border-radius: 5px;
  min-width: 5em;
  font: 0.9em "Barlow";
  font-weight: bold;
}

.btn.primary {
  color: #fff;
  background: #59a2d8ff;
  border: solid #59a2d8ff;
}

.btn.warning {
  color: #fff;
  background: #ff0000;
  border: solid #ff0000;
}

.btn:hover,
a:hover {
  opacity: 0.6;
}

#content {
  color: #e3e3e3;
}

.center {
  font-size: 1em;
  padding: 1px;
  height: auto;
  text-align: center;
  padding: 0px;
}

.footer {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 0.9em;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 1.5em;
  width: 100%;
  background: #59a2d8ff;
}

/* https://www.imarketinx.de/artikel/responsive-image-gallery-with-css-grid.html */

/* The grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The image frame */
.gallery-frame {
  padding: 0.5em;
  font-size: 1rem;
  margin-top: 0.5em;
  text-align: center;
  color: #d9d9d9;
}

/* The images */
.gallery-img {
  top: 0;
  left: 0;
  width: 24em;
  height: 14em;
  border-radius: 5px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: 0.5;
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  src: url("fonts/Barlow-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Italic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}
