body {
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    text-align: justify;
    background-color: #303030;
}

a {
    color: #999;
}

a.superscript {
    position: relative;
    top: -0.7em;
    font-size: 51%;
    text-decoration: none;
}

h1 {
    color: #e3e3e3;
    font-family: 'Barlow', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    line-height: 100%;
    letter-spacing: 1px;
}

h2 {
    color: #e3e3e3;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 100%;
    letter-spacing: 1
}

h3 {
    color: #e3e3e3;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 100%;
    letter-spacing: 1
}

p {
    font-size: 0.5em;
    text-align: left;
}

p.caption {
    border-style: none;
    border-width: 1px;
    font-size: 1em;
    padding: 5px;
    color: #303030 !important;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.0em;
    text-align: center;
}

p.box {
    width: auto;
    border-style: dotted;
    border-width: 1px;
    font-size: 1em;
    padding: 5px;
    color: #e3e3e3;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.0em;
    text-align: center;
}

#content {
    color: #e3e3e3;
}

.text {
    text-align: center;
    padding: 0px;
    color: inherit;
    float: left;
}

.center {
    font-size: 1em;
    padding: 1px;
    height: auto;
    text-align: center;
    padding: 0px;
    margin-bottom: 2em;
}

.footer {
    line-height: 2.0em;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 0.9em;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 2em;
    width: 100%;
    background: #3973ac;
}

/* Responsive grid based on http://alijafarian.com/responsive-image-grids-using-css/ */

ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -4.7%;
    /* should match li left margin */
}

ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.rig li img {
    max-width: 100%;
    height: auto;
}

ul.rig li h3 {
    margin: 0 0 1px;
}

ul.rig li p {
    font-size: .9em;
    line-height: 2.0em;
    color: #999;
}

/* class for 1 column */

ul.rig.column-1 li {
    width: 43.3%;
    /* this value + 2.5 should = 50% */
}

/* class for 2 columns */

ul.rig.columns-2 li {
    width: 47.5%;
    /* this value + 2.5 should = 50% */
}

/* class for 3 columns */

ul.rig.columns-3 li {
    width: 30.83%;
    /* this value + 2.5 should = 33% */
}

/* class for 4 columns */

ul.rig.columns-4 li {
    width: 22.5%;
    /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 0 0 5px;
    }
    ul.grid-nav li a {
        display: block;
    }
    ul.rig {
        margin-left: 0;
    }
    ul.rig li {
        width: 100% !important;
        /* over-ride all li styles */
        margin: 0 0 20px;
    }
    * {
        margin: 0;
        padding: 0;
    }
}

@font-face {
    font-family: 'Barlow-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('woff/Barlow-Regular.woff2') format('woff');
}

@font-face {
    font-family: 'Barlow-Medium';
    font-weight: 500;
    font-style: bold;
    src: url('woff/Barlow-Medium.woff2') format('woff');
}

@font-face {
    font-family: 'Barlow-Italic';
    font-weight: 300;
    font-style: italic;
    src: url('woff/Barlow-Italic.woff2') format('woff');
}