html * {
  font-family: "Inter", sans-serif !important;
}

body {
  font-family: "Inter", sans-serif;
  color: #9aa5ce;
  font-size: 1em;
  text-align: left;
  background-color: #303030;
  margin-bottom: 2.5em;
}

.c {
  max-width: 60em;
  padding: 1em;
  margin: auto;
  font: 1em/1.6;
}

.card,
pre {
  padding: 0.7em;
  border: 1px solid #cacaca;
}

a {
  color: #9aa5ce;
}

hr {
  border: 0;
  height: 1px;
  margin-top: 1em;
  background-image: linear-gradient(
    to right,
    rgba(183, 183, 183, 0.1),
    rgba(183, 183, 183, 183),
    rgba(183, 183, 183, 0.1)
  );
}

h1 {
  color: #7aa2f7;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  line-height: 100%;
  letter-spacing: 3px;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 100%;
  letter-spacing: 1;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 100%;
  letter-spacing: 1;
}

td,
th {
  padding: 0.3em;
  text-align: left;
}

p {
  font-size: 0.5em;
  text-align: left;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 3em;
  padding: 0.5em 0.5em;
  margin: 0.7em 0.3em;
  color: #fff;
  background: #7aa2f7;
  border: 0;
  border-radius: 5px;
  font: "Inter";
}

input[type="text"] {
  height: 2em;
  padding: 0.5em 0.5em;
  margin: 0.7em 0.3em;
  border: 0px;
  border-radius: 5px;
}

input[type="password"] {
  width: 10em;
  padding: 0.8em 0.8em;
  margin: 1em 1em;
  border: 0px;
  border-radius: 5px;
}

/* CUSTOM STYLES */

.caption,
figcaption {
  color: #9aa5ce;
  max-width: 60em;
  font-size: 0.9em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  line-height: 1.5em;
  text-align: center;
}

.navigation {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.5em;
  vertical-align: middle;
}

#map {
  z-index: 1;
  margin: 1.5em auto;
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

/* Details styles */

details {
  margin-bottom: 1em;
}

details[open] summary {
  border-radius: 5px 5px 0 0;
}
summary {
  padding: 0.57rem;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3pt;
  color: #9aa5ce;
  background: #565f89;
  cursor: pointer;
}

.select {
  padding: 0.5em 0.5em;
  margin: 0.7em 0.3em;
  min-width: 10em;
  margin-right: 0.5em;
  border-radius: 5px;
}

.topcorner {
  position: absolute;
  top: 0.3em;
  right: 1em;
}

.btn {
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #fff;
  border: solid;
  border-radius: 5px;
  font: 1em Inter;
  font-weight: bold;
}

.btn.primary {
  color: #fff;
  background: #7aa2f7;
  border: solid #7aa2f7;
}

.btn.green {
  color: #fff;
  background: #9ece6a;
  border: solid #9ece6a;
}

.btn.red {
  color: #fff;
  background: #f7768e;
  border: solid #f7768e;
}

.btn:hover,
a:hover {
  opacity: 0.6;
}

.center {
  font-size: 1em;
  padding: 1px;
  height: auto;
  text-align: center;
  padding: 0px;
}

.center > img {
	max-width: 100%;
	border-radius: 7px;
}

.footer {
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 1.5em;
  width: 100%;
  background: #565f89;
}

/* https://www.imarketinx.de/artikel/responsive-image-gallery-with-css-grid.html */

/* The grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The image frame */
.gallery-frame {
  padding: 0.5em;
  font-size: 1rem;
  margin-top: 0.5em;
  text-align: center;
  color: #d9d9d9;
}

/* The images */
.gallery-img {
  top: 0;
  left: 0;
  width: 24em;
  height: 14em;
  border-radius: 5px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: 0.5;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 600;
  font-display: swap;
  src: url("fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 600;
  font-display: swap;
  src: url("fonts/InterVariable-Italic.woff2") format("woff2");
}
