body {
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    text-align: justify;
    background-color: #303030;
}

a {
    color: #999;
}

a.superscript {
    position: relative;
    top: -0.7em;
    font-size: 51%;
    text-decoration: none;
}

h1 {
    color: #e3e3e3;
    font-family: 'Barlow', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    line-height: 100%;
    letter-spacing: 1px;
}

h2 {
    color: #e3e3e3;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 100%;
    letter-spacing: 1
}

h3 {
    color: #e3e3e3;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 100%;
    letter-spacing: 1
}

p {
    font-size: 0.5em;
    text-align: left;
}

p.caption {
    font-size: 1em;
    color: #e3e3e3;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.0em;
    text-align: center;
}

#content {
    color: #e3e3e3;
}

.center {
    font-size: 1em;
    padding: 1px;
    height: auto;
    text-align: center;
    padding: 0px;
    margin-bottom: 2em;
}

.footer {
    line-height: 2.0em;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 0.9em;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 2em;
    width: 100%;
    background: #3973ac;
}

/* Grid: https://wiki.selfhtml.org/wiki/CSS/Tutorials/Grid/responsive_Raster_ohne_Media_Queries */

*, ::before, ::after {
    box-sizing: border-box;
}

.square-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    margin-bottom: .5rem;
}

.square-container::before {
    content: '';
    height: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.square-container>*:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.square-container>* {
    background: rgba(0, 0, 0, 0.1);
    border: .3rem solid transparent;
    position: relative;
}

.square-container>*:focus, .square-container>*:hover {
    opacity: .55;
}

.square-container img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Barlow';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/Barlow-Regular.woff2') format('woff2');
}
